# Exploratory Data Analysis: Center Position

Recall that our **y**-values are the proportion of the salary cap that a general manager is willing to spend on a player in a given year. To estimate how much this value is, given a players performance metrics, we need to dive into the data and figure out what metrics have a strong relationship with our **y**'s.

Based on my knowledge of hockey, I highly suspect that the features will differ for the different positions that exist in hockey: Center, Forward, Defence, and Goalie. To begin, I will explore the data with respect to the Center position.

In [27]:
import pandas as pd
import dataprep as dp
from dataprep.eda import plot

In [10]:
# Load in our data
filepath = '../../Data/entitiesResolved/merged_data.csv'
data = pd.read_csv(filepath)

data.head(-5)

/var/folders/h2/kmbhyjx55j5c34gh2d52qthc0000gn/T/ipykernel_9271/3752882776.py:3: DtypeWarning: Columns (37,40,49,67) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(filepath)

,Position,Player,Team,TOI,GP,TOI/GP,Goals/60,Total Assists/60,First Assists/60,Second Assists/60,...,EXP. YEAR,CAP HIT,AAV,SALARY,BASE SALARY,S.BONUS,P.BONUS,season,Y_Salary_Cap,Y_Salary_Cap_Percentage
0,r,adam burish,chi,951.616667,81,11.748354,0.25,0.25,0.19,0.06,...,2008,"$575,000","$575,000","$575,000","$500,000","$75,000",$0,2007-08,50300000,0.011431
1,d,adam foote,"cbj, col",1754.250000,75,23.390000,0.03,0.51,0.10,0.41,...,2008,"$4,600,000","$4,600,000","$4,600,000","$4,600,000",$0,$0,2007-08,50300000,0.091451
2,r,adam hall,pit,546.150000,46,11.872826,0.22,0.44,0.11,0.33,...,2008,"$525,000","$525,000","$525,000","$525,000",$0,$0,2007-08,50300000,0.010437
3,r,ales hemsky,edm,1374.483333,74,18.574099,0.87,2.23,1.57,0.65,...,2012,"$4,100,000","$4,100,000","$3,600,000","$3,600,000",$0,$0,2007-08,50300000,0.081511
4,r,ales kotalik,buf,1212.050000,79,15.342405,1.14,0.99,0.35,0.64,...,2009,"$2,333,333","$2,333,333","$2,500,000","$2,500,000",$0,$0,2007-08,50300000,0.046388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12947,c,zach aston-reese,det,6.350000,1,6.350000,0.00,0.00,0.00,0.00,...,2024,"$775,000","$775,000","$775,000","$775,000",$0,$0,2023-24,83500000,0.009281
12948,l,zach benson,buf,876.383333,60,14.606389,0.62,0.96,0.55,0.41,...,2026,"$950,000","$1,600,000","$950,000","$855,000","$95,000","$650,000",2023-24,83500000,0.011377
12949,d,zach bogosian,"min, t.b",964.033333,55,17.527879,0.19,0.56,0.25,0.31,...,2024,"$850,000","$850,000","$1,050,000","$1,050,000",$0,$0,2023-24,83500000,0.010180
12950,c,zach dean,stl,8.683333,1,8.683333,0.00,0.00,0.00,0.00,...,2026,"$852,500","$863,333","$892,500","$800,000","$92,500","$32,500",2023-24,83500000,0.010210
12951,l,zach hyman,edm,1292.750000,66,19.587121,2.23,0.88,0.46,0.42,...,2028,"$5,500,000","$5,500,000","$7,650,000","$7,650,000",$0,$0,2023-24,83500000,0.065868

Now we need to select only those players that play Center. One thing that we'll find is that some player play both Center and Left Wing or Right Wing, which will show up in the data as 'c,l' or 'c,r':

In [15]:
# Get all the unique values in the 'Position' col
data['Position'].unique()

array(['r', 'd', 'l', 'c, l', 'c', 'l, r', 'c, r', 'd, l'], dtype=object)

For simplicity, we will include in our analysis all players who have the ability to play Center, as this is a very demanding position to play. For those who are curious, many players who play C are able to play L or R wing; however, most players who have played L or R wing for most of their careers are not able to play C.

In [26]:
# Select all rows were the 'Position' is 'c' or 'c,l' or 'c,r'
centers = data[data['Position'].isin(['c', 'c, l', 'c, r'])]
print(centers['Position'].unique())
print(centers.shape)

['c, l' 'c' 'c, r']
(3953, 121)

In [ ]:
plot(centers)